<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <property name="console">%d{yyyy-MM-dd HH:mm:ss} %t %level %logger{5} Method:%M - %msg%n</property>
    </Properties>

    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="${console}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.hibernate.SQL" level="TRACE" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>